<h1>Latitude Longitude icluded in the neighborhood data</h1>

<h2>1) Retrieve the dataframe from the last notebook with the cleaned toronto neighborhood data</h2>

In [1]:
%store -r Toronto_Neigh
Toronto_Neigh.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

<h2>2)a. Read the geospatial data onto a dataframe</h2>

<h2>b. append the lat lng data to the neighborhood dataframe</h2>

In [2]:
import pandas as pd
data = pd.read_csv("Geospatial_Coordinates.csv", sep=',')
data = data.set_index("Postal Code")

Toronto_latlng = pd.DataFrame(columns=['Postcode', 'Borough', 'Neighbourhood', 'latitude', 'longitude'])

for index, row in Toronto_Neigh.iterrows():
    row['latitude'] = data.loc[row["Postcode"]][0]
    row['longitude'] = data.loc[row["Postcode"]][1]
    Toronto_latlng.loc[index] = row
    
Toronto_latlng.head()

,Postcode,Borough,Neighbourhood,latitude,longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [3]:
%store Toronto_latlng

Stored 'Toronto_latlng' (DataFrame)